*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}

body{
    background: linear-gradient(to right, #02AABD , #00CDAC);
}

.card{
    width: 90%;
    max-width: 470PX;
    background: linear-gradient(135DEG, #00FEBA, #5B548A);
    color: #FFF;
    margin: 35px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}

.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search input{
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}


.search button{
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.search button img{
    width: 16px;
}

.weather-icon{
    width: 170px;
    margin-top: 30px;
}

.weather{
    display: none;
}

.weather h1{
    font-size: 80px;
    font-weight: 400;
    margin-top: -10px;
}

.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}

.col{
    display: flex;
    align-items: center;
    text-align: left;
}

.col img{
    width: 40px;
    margin-right: 10px;
}

.humidity, .wind{
    font-size: 28px;
    margin-top: -6px;
}

.error{
    text-align: left;
    margin-left: 10px;
    font-size: 14px;
    margin-top: 10px;
    display: none;
}

@media (max-width: 470px) {
    .card{
        max-width: 90%;
        position: relative;
    }
    .search{
        width: 90%;
        position: absolute;
        left: 12px;
        top: 20px;
    }

    .search input{
        width: 12vw;
        height: 40px;
        font-size: 16px;
        min-width: 100px;
    }

    .error{
        position: absolute;
        top: 80px;
        left: 20px;
    }

    .search input::placeholder{
        font-size: 15px;
        font-weight: 500;
    }

    .search button{
        border: 0;
        outline: 0;
        background: #ebfffc;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        margin-right: 5px;
        position: relative;
    }

    .search button img{
        width: 14px;
        position: absolute;
        top: 12px;
        left: 13px;
    }
    
    .weather-icon{
        width: 140px;
        margin-top: 30px;
    }

    .weather h1{
        font-size: 50px;
    }

    .details{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 10px;
        margin-top: 50px;
    }

    .col{
        margin: 12px;
    }

    .col img{
        width: 20px;
    }

    .humidity, .wind{
        font-size: 14px;
    }

  }



